<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
		    <div class="aboutText">
			<h2 class="aboutTitle">What is inventory management?</h2>
            <p>Inventory management is the part of supply chain management that aims to always 
            have the right products in the right quantity for sale, at the right time. 
            When done effectively, businesses reduce the costs of carrying excess inventory 
            while maximizing sales. Good inventory management can help you track your inventory 
            in real time to streamline this process.
            
            <p>By effectively managing your inventory you can have the right products in the 
            right quantity on hand and avoid products being out of stock and funds being tied 
            up in excess stock. You can also ensure your products are sold in time to avoid spoilage or obsolescence, or spending too much money on stock that’s taking up space in a warehouse or stockroom.
		    </div>
        </div> 

        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <hr>
        <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <img src="assets/images/about.jpg" width="100%">
        </div>
    </div>

    </div> 
</div> 